.cards {
    background-color: #FFF5E3;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 500px;
}

.cards img {
    width: 200px;
    height: 300px !important;
}