.carousel-container {
  position:relative;
  max-height: 20% !important;
  margin: 5%;
  background-color: lightgray;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-title {
  margin-bottom: 1%;
  margin-left: 5%
}

.carousel {
  justify-content: center;
  height: 100%;
}

.increment-button {
  background: none;
  font-size: 42px !important;
  background-color: transparent !important;
  border: none !important;
  transition: transform .5s ease !important;
  top: 50% !important;
  position: relative;
}

.increment-button:hover {
  transform: scale(1.3);
}