#ButtonSubmitEdit {
    margin-top: 40px !important;
    background-color: #0062ff !important;
    width: 15% !important;
    max-width: 200px;
    text-align: center;
    border-radius: 20px;
    transition: .5s ease;
}

#ButtonSubmitEdit:hover {
    border-radius: 0px;
    transition: .5s ease;
}

.delete-card-btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #FF5252; 
    color: #FFF;
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    outline: none; 
}

.delete-card-btn:hover {
    background-color: #E53935;
}

.delete-card-btn:active {
    background-color: #C62828;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

