.manageusers {
    width: 100%;
}

.title {
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 15px;
    background-color: blue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white
}

.titlename {
    margin-left: 44%;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 15px;  
}

.searchInput {
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: black;
    color: lightgray
}

.searchButton {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: blue;
    color: white;
}


.searchButton:hover {
    box-shadow: 0 0 10px darkblue;
}

.table {
    margin: 0px auto;
    width: 50%;
    margin-top: 200px;
    max-height: 60%;
    overflow-y: auto;
    border: 2px solid black;
}

.user {
    width: 100%;
    border-collapse: collapse;
}

.user th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.user td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.user thead {
    position: sticky;
    top: 0px;
    background-color: white;
}


.dropdownButton {
    background-color: lightgray;
    padding: 10px;
    font-size: 15px;
    border: none;
    margin-left: 20px;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.options {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    z-index: 1;
}

.options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .options {
    display: block;
}

.options a:hover {
    background-color: lightgray
}

